player-connection-mode=Listen
player-connection-guid=2958534442
player-connection-debug=0
player-connection-project-name=TagOfChaos
player-connection-ip=192.168.219.100
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a6b53713949b4c97a93a9394848cd27b
