player-connection-mode=Listen
player-connection-guid=1285985998
player-connection-debug=0
player-connection-project-name=TagOfChaos
player-connection-ip=192.168.219.100
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c73a4a614c644ce6af567c3b4893aca7
