player-connection-mode=Listen
player-connection-guid=3618106113
player-connection-debug=0
player-connection-project-name=TagOfChaos
player-connection-ip=192.168.219.100
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6a266acb5a7a41b691df2838df7710a8
